<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>jinja test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  </head>
  <body>
    <h3>hello!</h3>
    <div id="test1">
      <textarea v-model="sendMessage" rows="8" cols="80"></textarea></br>
      <button v-on:click="addAccess()">access!</button>
      <button v-on:click="getPosts()">get!</button>
      <ul v-for="post in posts">
        <li> <p>[[post.post]]</p></li>
      </ul>
    </div>

    <script type="text/javascript">
    new Vue( {
      el: '#test1',
      delimiters: ["[[", "]]"],
      data: {
        posts: [],
        sendMessage: "hello"
      },
      methods: {
        getPosts: function(){
          axios.get( '/posts' )
          .then( response => {
            this.posts = response.data["Posts"];

            console.log(this.posts);
          })
          .catch( error => {
            window.alert( error );
          });
        },
        addAccess: function(){
          console.log(this.sendMessage);
          axios.post( '/add', {
            post: this.sendMessage
          })
          .then( response => {
            console.log(response.date);
          })
          .catch( error => {
            window.alert( error );
          });
        },

      }
    })
    </script>
  </body>
</html>
